<div class="card mx-5">
 <router-outlet></router-outlet>
 <form>
   <div class="card-body">
     <table class="table">
       <tbody>
         <tr class="align-middle">
           <th>Product</th>
           <th><input type="text" placeholder="Product" name="p_name"></th>
         </tr>
         <tr class="align-middle">
           <th>Code</th>
           <th><input type="text" placeholder="Code" name="p_code" ></th>
         </tr>
         <tr class="align-middle">
           <th>Availability</th>
           <th><input type="text" placeholder="Availability" name="p_availability"></th>
         </tr>
         <tr class="align-middle">
           <th>Price</th>
           <th><input type="text" placeholder="Price" name="p_price" ></th>
         </tr>
         <tr class="align-middle">
           <th>Rating</th>
           <th><input type="text" placeholder="Rating" name="p_rating" ></th>
         </tr>
         <tr class="align-middle">
           <th>Image URL</th>
           <th><input type="text" placeholder="URL" name="p_image" ></th>
         </tr>
         <tr class="align-middle">
           <th></th>
           <th>
             <button class="btn btn-primary mt-3" type="submit" id="btn">
               Update
             </button>
           </th>
         </tr>
       </tbody>
     </table>
   </div>
 </form>
</div>
