<div class="wrapper">
 <!-- <div class="logo">
     <img src="https://www.freepnglogos.com/uploads/twitter-logo-png/twitter-bird-symbols-png-logo-0.png" alt="">
 </div> -->
 <div class="text-center mt-4 name">
     PRODUCT LIST
 </div>
 <form class="p-3 mt-3" #userlogin="ngForm" (ngSubmit)="Verify()">
    <small [class.d-none]="email.valid" class="px-3 text-danger">Enter Valid Email</small>
     <div class="form-field d-flex align-items-center">
         <span>👤</span>
         <input type="email" name="email" id="userName" placeholder="Email" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" [(ngModel)]="User.username" #email="ngModel" [class.is-invalid]="email.invalid && email.touched" required>
         
     </div>
     
     <div class="form-field d-flex align-items-center">
         <span>🔒</span>
         <input type="password" name="password" id="pwd" placeholder="Password" [(ngModel)]="User.password" minlength="6"  required>
     </div>
     <button class="btn mt-3"[disabled]="userlogin.form.invalid">LOGIN</button>
 </form>
 <div class="text-center fs-6">
     <a href="#">Forget password?</a> or <a href="#">Sign up</a>
 </div>
</div>
