<div class="card mx-5">
 <router-outlet></router-outlet>
 <form action="/" method="post">
 <div class="card-body">
<table class="table">
 <tbody>
 <tr class="align-middle">
  <th>Product</th>
  <th><input type="text" placeholder="Product"></th>
 </tr>
 <tr class="align-middle">
  <th>Code</th>
  <th><input type="text" placeholder="Code"></th>
 </tr>
 <tr class="align-middle">
  <th>Availability</th>
  <th><input type="text" placeholder="Availability"></th>
 </tr>
 <tr class="align-middle">
  <th>Price</th>
  <th><input type="text" placeholder="Price"></th>
 </tr>
 <tr class="align-middle">
  <th>Rating</th>
  <th><input type="text" placeholder="Rating"></th>
 </tr>
 <tr class="align-middle">
  <th>Image URL</th>
  <th><input type="text" placeholder="URL"></th>
 </tr>
 <tr class="align-middle">
  <th></th>
  <th><button class="btn btn-primary mt-3" type="submit" id="btn">Add to list</button></th>
 </tr>
 </tbody>
</table>
 </div>
</form>
 </div>

